@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    font-family:'Monserrat',sans-serif
}
.body{
    margin-bottom:9rem;
    width: 100%;
}

.container{
    max-height: 30rem;
    /* background: white; */
    margin:0 auto;
    padding-bottom:2rem;
    overflow: hidden;
    width:100%;
}
.row{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height:auto;
    overflow:hidden;
}

.column-one{
    width: 50%;
    text-align: left;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.main-header{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom:2rem;
}

.sub-header{
    margin-bottom:1rem;
}
.sub-header p{
    font-size: 0.7rem;
    margin-bottom:0.5rem;
    color: #383838;
    font-weight:600;
}
.mobile-header{
    display: none;
}

@media(max-width:1270px){
    .body{
        margin:0 auto;
    }
    .column-two img{
        height: 40rem;
        margin-top: -20rem;
        margin-left:10px;
    }
    .main-header{
        font-size:4rem;
    }
    .sub-header{
        font-size:1rem;
        font-weight:100;
    }
    .btn-wrapper{
        display:flex;
        flex-direction: row;
    }
    .btn-wrapper button {
        padding: 10px 12px;
        font-size: 1.5rem;
    }
    .column-one{
        margin-left:2rem;
    }
}
@media(max-width:960px){
    .body{
        width:90%;
        height:fit-content;
    }
     .column-two img {
         height: 30rem;
         margin-top: -10rem;
         margin-left: 20px;
     }

     .main-header {
         font-size: 2.5rem;
     }

     .sub-header p{
         font-size: 1rem;
         font-weight: 100;
     }
     
}
@media(max-width:600px){
    .container{
        padding:0;
    }
    .column-one{
        width:auto;
    }
    .column-two img{
        display: none;
    }
    .mobile-header{
        display:block;
    }
    .mobile-header img{
        height:10rem;
        align-self: center;
        justify-self: flex-start;
        width:100%;
        margin:0;
    }
    .main-header {
        font-size:1.2rem;
        color:#383838;
    }
    .sub-header p{
        display: none;
    }
    .column-one {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left:0;
    }
     .btn-wrapper button {
         padding: 10px;
         font-size:1rem;
     }
     .btn-wrapper{
        align-items: center;
        justify-content: space-between;
         margin:0 auto;
     }
}