@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat',sans-serif;
}
body{
    background:linear-gradient(to bottom right , #f3f3f3 ,#a38772, #f6905d );
    min-width:320px;
}@media(max-width:1200px){
    body{
    background:linear-gradient(to bottom right, #f3f3f3, #f6c7b0, #f6905d);

    }
}

h4{
    font-size:1rem ;
    color: #383838;
}

h3{
    font-size:1.5rem;
    color: #383838;
    line-height:2rem 0rem ;
    margin: 2rem 0rem;
}

a{
    color:#383838;
}