.navbar {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:85%;
    /* max-width: 1500px; */
    
}

.navbar-logo {
    color: #1a1a1a;
    justify-self: start;
    left:0;
    /* margin-left: 20px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    /* text-shadow: -5px 8px 5px #504f4fe6; */
}.navbar-logo #green{
    color:#e45710;
}

.nav-links.nav-recipe{
    color:#e45710;
    border-radius:18px;
}.nav-links.nav-recipe:hover{
    color:#ffede3;
}

.nav-menu {
    width:100%;
}
.nav-menu-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list{
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 25px;
    text-align: center;
    margin:0 11rem;
    justify-content: space-evenly;
}

.nav-item {
    text-align: center;
}

.nav-links {
    color: #1a1a1a;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 100%;
    font-size: 1rem;
    font-weight:700;
    margin-left:5px;
    border-radius:18px;
}

.nav-links:hover {
    color: #e45710;
    transition: all 0.1s ease-out;
}.nav-links:active{
    background: linear-gradient(to right, #333, #010101);
    border-radius:18px;
    color:#f3f3f3;
}


.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}
.nav-item-icons{
    display:none;
}
.nav-input-mobile {
    display: none;
}
@media screen and (max-width: 1200px) {
    .nav-item {
        position: relative;
        margin:40px 0;
        width:100%;
    }
    .navbar-container{
        width:100%;
    }
    .nav-list{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        grid-gap: 5px;
    }
    
    .nav-menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
        width:90%;
        flex-direction:column;
        padding-top: 30px;
        overflow:hidden;
        margin:0 auto;
    }
    .nav-menu{
        position: absolute;
        left: -400px;
        height: 100%;
        top:0;
        opacity: 0;
        width:50%;
        transition: all 0.3s ease-out;
        background: linear-gradient(to right, #ffa31d, #ef5454);
    }

    .nav-menu.active {
        background: linear-gradient(to right, #ffa31d , #ef5454);
        left: 0;
        top:0;
        z-index: 1;
        opacity: 1;
        transition: all 0.5s ease;
        position: fixed;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links {
        text-align: center;
        color: #333;
        font-weight:700;
        padding:1rem 4rem;
        margin: 0;
        width: 100%;
        display: table;
    }.nav-links:hover{
        color:#f3f3f3;
    }.nav-links:active{
        color: #f3f3f3;
        background: #1a1a1a;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        font-size:3rem;
        margin: 1rem 1rem;
        transition: all 500ms ease;
    }

.nav-links.nav-recipe {
    color:#333;
}
    .menu-icon {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem 1rem;
        font-size: 3rem;
        cursor: pointer;
        transition: all 500ms ease;
    }
    .nav-item-icons{
        left:0;
        top:0;
        display:flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
    }
    .nav-item-icons a{
        font-size:2rem;
    }

    .nav-item-icons a:hover {
        color: #ffede3;
        transition: all 0.1s ease-out;
    }
    .nav-input-mobile {
        display: flex;
    }

    .nav-input {
        display: none;
    }
}

@media(max-width:960px) {
    .navbar{
        height:5rem;
    }
    
    .navbar-logo{
        font-size: 2rem;
        font-weight: bolder;
        transition: all 200ms ease;
    }
    .menu-icon{
        font-size:2rem;
    }
    .nav-links{
        font-size:1rem ;
    }
    .nav-item {
        position: relative;
        margin: 10px 0;
        width: 100%;
    }
    .nav-item-icons{
        width:90%;
    }
    .nav-item-icons a{
        font-size: 1.5rem;
        bottom: 0;
    }
    
    .nav-item{
        padding:1rem 2rem;
    }

}
@media(max-width:560px){
    .navbar-container{
        display:flex;
        align-items: center;
        justify-content:space-between;
        width:80%;
    }
    .navbar{
        margin:0;
    }
    .nav-menu-wrapper{
        height:90%;
    }
    .menu-icon{
        font-size:1.5rem;
    }
    .navbar-logo{
        font-size:1.5rem;
        top:0;
    }
    .nav-item-icons a{
        font-size:1.3rem;
    }
    .nav-list{
        /* margin:5rem auto; */
        width:100%;
    }
    .nav-links{
        padding: 1rem 0;
    }
}