.navbar {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:85%;
    /* max-width: 1500px; */
    
}

.navbar-logo {
    color: #000000;
    justify-self: start;
    left:0;
    /* margin-left: 20px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    text-shadow: -5px 8px 5px #504f4fe6;
}.navbar-logo #green{
    color:#00df34;
}

.nav-links.nav-recipe{
    color:#fff;
    background:#00df34;
    border-radius:18px;
    border: 2px solid #00df34;
}.nav-links.nav-recipe:hover{
    border:2px solid #00df34;
    background: transparent;
    color:#00df34;
}

.nav-menu {
    width:100%;
}
.nav-menu-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-list{
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 25px;
    text-align: center;
    justify-content: space-evenly;
}

.nav-item {
    text-align: center;
}

.nav-links {
    color: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 100%;
    font-size: 1rem;
    font-weight:700;
    margin-left:5px;
}

.nav-links:hover {
    border-bottom: 2px solid #00df34;
    transition: all 0.1s ease-out;
}

.fa-bars-staggered {
    color: rgb(0, 0, 0);
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}
.nav-item-icons{
    display:none;
}

@media screen and (max-width: 1200px) {
    .nav-item {
        position: relative;
        margin:40px 0;
        width:100%;
    }
    .navbar-container{
        width:100%;
    }
    .nav-list{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    
    .nav-menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
        width:80%;
        flex-direction:column;
        padding-top: 30px;
        overflow:hidden;
        margin:0 auto;
    }
    .nav-menu{
        position: absolute;
        left: -400px;
        height: 100vh;
        top:0;
        opacity: 0;
        width:50%;

    }

    .nav-menu.active {
        background: #d4d4d4e8;
        left: 0;
        top:0;
        z-index: 1;
        opacity: 1;
        transition: all 0.5s ease;
        position: fixed;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links {
        text-align: center;
        color: #000000;
        padding:0 4rem;
        margin: 0;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        border-bottom: 2px solid #00df34;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        font-size:3rem;
        margin: 1rem 1rem;
        transition: all 500ms ease;
    }

.nav-links.nav-recipe {
    padding:2rem 0;
}
    .menu-icon {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem 1rem;
        font-size: 3rem;
        cursor: pointer;
        transition: all 500ms ease;
    }
    .nav-item.icons{
        left:0;
        display:flex;
        align-items:center;
        color:#000000;
        justify-content: space-evenly;
    }
}

@media(max-width:960px) {
    .navbar{
        height:5rem;
    }
    .navbar-logo{
        font-size: 3rem;
        font-weight: bolder;
        transition: all 200ms ease;
    }
    .nav-links{
        font-size:1rem ;
    }
    .nav-item {
        position: relative;
        margin: 10px 0;
        width: 100%;
    }
    .icons{
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    .nav-links.nav-recipe {
        padding:1rem 0;
    }

}
@media(max-width:560px){
    .navbar-container{
        display:flex;
        align-items: center;
        justify-content:space-between;
    }
    .navbar{
        margin:0;
    }
    .menu-icon{
        font-size:2rem;
    }
    .navbar-logo{
        font-size:2rem;
        top:0;
    }
}